html, body, #root {
  height: 100%;
}

.App-header {
  background: linear-gradient(to bottom,rgba(0,0,0, 0.4) 0,rgba(0, 0, 0, 0.4) 100%), url("assets/img/ancient-2179091.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1, h2, h3, h4, h5, h6, a, div, p {
    color: white;
  }

  .welcome-navbar {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }

  .intro {
    height: 100%;
  }
}

.why-us {
  padding: 8rem 0;
  background-color: #4d1a00;
  color: white;
}

.features {
  padding: 8rem 0;

  .feature-card {
    border: none;
  }
}

.icon-background {
  color: #c0ffc0;
}
